.header-section{
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    background-color: skyblue;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 20%;
}
.logo h4{
    text-align: center;
}
.nav{
    width: 50%;
}
.nav ul{ 
    display: flex;
    justify-content: space-around;
}
.nav ul li{
     list-style: none;
}
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
}
.social-icon{
    width: 30%;
    text-align: center;
}
.social-icon i{
    padding-left: 10px;
}
.food-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   }
   .food-item{
    height: 220px;
    margin: 20px;
    width: 180px;
    border: 5px solid gray;
    padding: 5px;
   }
   .food-item img{
       height: 150px;
       width: 100%;
   }
   .bootstrap{
    width: 100%;
    height: 400px;
   }
   .food-menu{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   }
   .food{
    margin: 20px;
    border: 5px solid gray;
    padding: 5px;
    text-align: center;
   }
   .food img{
        height: 700px;
        width: 900px;
   }
   .foood{
    display: flex;
    flex-wrap: wrap;
   }
